/*Removes margin and padding from all elements*/
* {
    margin: 0;
    padding: 0;
}

body {
    /*Sets background image and size*/
    background-image: url(./img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    /*Maximum page width*/
    max-width: 1920px;

    color: rgb(254, 244, 230);
    font-family: Apple Chancery, cursive;
    font-style: italic;
}

#content {
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;

    padding: 40px 0;

    margin: 0 150px;
}

header,
footer {
    background-color: rgba(0, 0, 0, 0.95);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

header {
    gap: 20px;

    font-size: 48px;

    padding-top: 5px;
    padding-bottom: 20px;

    margin-top: 10px;
    margin-bottom: 100px;
}

footer {
    gap: 10px;

    padding-top: 20px;
    padding-bottom: 10px;

    margin-top: 100px;
    margin-bottom: 10px;

    font-size: 17px;
}

nav {
    display: flex;
    gap: 20px;
}

.logo {
    width: 400px;
    height: 400px;

    align-self: center;

    background-color: rgba(255, 255, 255, 0.515);

    border-radius: 500px;
}

.restDescription,
.history {
    align-self: center;

    font-size: 23px;

    margin-top: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);

    font-family: Apple Chancery, cursive;
    color: rgb(254, 244, 230);
    font-size: 23px;
    font-style: italic;

    border: none;

    cursor: pointer;
}

.beverages,
.sides,
.entrees {
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
}

.title {
    font-size: 35px;
    border-bottom: 2px solid antiquewhite;

    margin-bottom: 20px;
}

.item {
    font-size: 20px;
}

.description {
    padding-left: 25px;
}

.pic {
    width: 250px;
    height: 250px;

    border: 1px solid black;
    border-radius: 5px;

    align-self: flex-end;

    margin-right: 70px;
}